._failed {
  border-bottom: solid 4px rgba(255, 0, 0, 0.829) !important;
}
._failed i {
  color: rgba(255, 0, 0, 0.829) !important;
}

._success {
  box-shadow: 0 15px 25px #00000019;
  padding: 45px;
  width: 100%;
  text-align: center;
  margin: 40px auto;
  border-bottom: solid 4px #28a745;
  color: #28a745;
}

._success i {
  font-size: 55px;
  color: #28a745;
}

._success h2 {
  margin-bottom: 12px;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 10px;
}

._success p {
  margin-bottom: 15px;
  font-size: 18px;
  color: #495057;
  font-weight: 500;
}

a {
  color: #28a7459c;
  font-size: 17px;
  text-decoration: none !important;
  font-weight: 600;
}

._failed h2 {
  color: rgba(255, 0, 0, 0.829) !important;
}

._failed a {
  color: rgba(255, 76, 76, 0.938) !important;
}
