<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us Cards</title>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/About_us.css" />
  </head>
  <body>
    <div class="stack-area">
      <div class="left">
        <div class="title">عن موقع <span>صوّتلي</span></div>
        <div class="sub-title">
          منصة إلكترونية لعرض مشاريع مهرجان الكرازة المرقسية التي أبدعها أبناء الكنائس من مختلف الأعمار والكنائس.<br>
          يمكن للجميع مشاهدة الأعمال والمشاركة في التصويت لاختيار أفضل المشاريع.<br>
          في نهاية كل دورة من المهرجان، يتم تكريم أصحاب المراكز الثلاثة الأولى في كل مجال.<br>
          شارك، صوّت، وادعم إبداع شباب كنيستك!
          <br />
          <button onclick="window.location.href='/'">تسجيل دخول</button>
        </div>
      </div>
      <div class="right">
        <div class="card">
          <div class="sub">عرض المشاريع</div>
          <div class="content">مشاهدة جميع أعمال أبناء الكنائس المشاركة في المهرجان</div>
        </div>
        <div class="card">
          <div class="sub">التصويت الإلكتروني</div>
          <div class="content">ساهم في اختيار أفضل مشروع بالتصويت الإلكتروني الشفاف</div>
        </div>
        <div class="card">
          <div class="sub">تكريم الفائزين</div>
          <div class="content">يتم تكريم أول 3 مراكز في كل سنة من مهرجان الكرازة المرقسية</div>
        </div>
        <div class="card">
          <div class="sub">مجتمع الكنيسة</div>
          <div class="content">تعزيز روح المشاركة والإبداع بين أبناء الكنيسة</div>
        </div>
      </div>
    </div>
    </div>
    <script src="/static/js/About_us.js"></script>
  </body>
</html>