<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>الأسئلة الشائعة</title>
  <link rel="stylesheet" href="/static/css/chatbot.css" />
</head>

<body>

  <h1>الأسئلة الشائعة</h1>

  <div class="question-container">
    <button class="question" onclick="handleQuestion(this)">كيف أضيف مشروع؟</button>
    <button class="question" onclick="handleQuestion(this)">كيف أصوت لمشروع؟</button>
    <button class="question" onclick="handleQuestion(this)">كيف أعدل مشروع؟</button>
    <button class="question" onclick="handleQuestion(this)">نسيت كلمة المرور</button>
    <button class="question" onclick="handleQuestion(this)">كيفية إنشاء حساب جديد</button>
    <button class="question" onclick="handleQuestion(this)">كيفية استلام جوائز المراكز الأولى</button>
    <button class="question" onclick="handleQuestion(this)">كيفية إضافة تعليق</button>
  </div>


  <div class="chat-container" id="chat-container">
    <div class="chat-messages" id="chat"></div>
  </div>

  <script src="/static/JS/chatbot.js"></script>

</body>

</html>