<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>تم انشاء حساب جديد بنجاح</title>
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/Email_used.css" />
</head>

<body>
  <div class="left-section">
    <img src="/static/images/used_email.jpg">
  </div>
  <div class="right-section">
    <h1>البريد الإلكتروني مستخدم بالفعل</h1>
    <p>
      البريد الإلكتروني الذي أدخلته مستخدم بالفعل.<br>
      يرجى استخدام بريد إلكتروني آخر أو تسجيل الدخول إذا كان لديك حساب.
    </p>
    <button class="btn">
      <a class="back-btn" href="/">الرجوع لتسجيل الدخول</a>
    </button>
  </div>
</body>

</html>