<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8">
  <title>تم حفظ كلمة المرور بنجاح</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/new_password_failed.css">
</head>

<body>
    <div class="right-section">
    <img src="/static/images/failed_save_password.png">
  </div>
  <div class="left-section">
    <span class="icon-error">
      <svg viewBox="0 0 48 48">
        <circle cx="24" cy="24" r="22" fill="#ffdee157" stroke="#dc3545" stroke-width="3"/>
        <line x1="16" y1="16" x2="32" y2="32" stroke="#dc3545" stroke-width="4" stroke-linecap="round"/>
        <line x1="32" y1="16" x2="16" y2="32" stroke="#dc3545" stroke-width="4" stroke-linecap="round"/>
      </svg>
    </span>
    <div class="error-title">خطأ في حفظ كلمة المرور</div>
    <div class="error-message">
      حدث خطأ أثناء محاولة حفظ كلمة المرور الجديدة. يرجى المحاولة مرة أخرى لاحقًا.<br>
      إذا استمرت المشكلة، يرجى التواصل مع الدعم الفني.
    </div>
    <a href="/" class="error-btn">العودة إلى الصفحة الرئيسية</a>
  </div>

</body>

</html>