<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>تم انشاء حساب جديد بنجاح</title>
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/OTP_success.css" />
</head>

<body>
  <div class="left-section">
    <img src="/static/images/new_account.jpg">
  </div>
  <div class="right-section">
    <h1>تم إنشاء حساب جديد بنجاح</h1>
    <p>
      لقد تم إنشاء حسابك بنجاح.<br />
      يمكنك الآن تسجيل الدخول إلى حسابك واستخدام جميع الخدمات.
    </p>
    <button class="btn" href="/"><a href="/">الذهاب لتسجيل الدخول</a></button>

  </div>
</body>

</html>