<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Reset Password - Professional UI</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
  <link rel="stylesheet" href="/static/css/Reset_password.css" />
</head>

<body>
  <form class="reset-modal" autocomplete="off" action="http://127.0.0.1:5000/save_password" method="POST">
    <div class="reset-modal__title">إعادة تعيين كلمة المرور</div>
    <div class="reset-modal__subtitle">
      يرجى إدخال كلمة المرور الجديدة أدناه.
    </div>
    <div class="reset-modal__form">
      <div class="reset-modal__input-group" id="group-new-password">
        <input type="password" class="reset-modal__input" id="new-password" placeholder="كلمة المرور الجديدة"
          autocomplete="new-password" name="new-password" required />
        <i class="fa fa-lock"></i>
      </div>
      <!-- زر العين لحقل كلمة المرور الجديدة -->
      <button class="toggle-password show-hide" type="button" tabindex="-1" data-toggle="new-password">
        <span class="h_s">اظهار كلمه المرور</span>
      </button>
      <span class="generate-password"
        onclick="document.getElementById('new-password').value=([...'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789!@#$%^&*()_+-=[]{},.<>?/|']).sort(()=>.5-Math.random()).slice(0,4).join('')+['ABCDEFGHIJKLMNOPQRSTUVWXYZ'[Math.floor(Math.random()*26)],'abcdefghijklmnopqrstuvwxyz'[Math.floor(Math.random()*26)],'0123456789'[Math.floor(Math.random()*10)],'!@#$%^&*()_+-=[]{},.<>?/|'[Math.floor(Math.random()*24)]].sort(()=>.5-Math.random()).join('');validate();">توليد
        كلمة مرور</span>




      <div class="reset-modal__input-group" id="group-confirm-password">
        <input type="password" class="reset-modal__input" id="confirm-password" placeholder="تأكيد كلمة المرور الجديدة"
          autocomplete="new-password" required />
        <i class="fa fa-lock"></i>
      </div>
      <!-- زر العين لتأكيد كلمة المرور -->
      <button class="toggle-password show-hide" type="button" tabindex="-1" data-toggle="confirm-password">
        <span class="h_s">اظهار كلمه المرور</span>
      </button>
      <ul class="reset-modal__rules">
        <li class="reset-modal__rules__item" id="rule-length">
          <i class="fa fa-circle"></i>
          على الأقل 8 أحرف
        </li>
        <li class="reset-modal__rules__item" id="rule-uppercase">
          <i class="fa fa-circle"></i>
          على الأقل حرف كبير واحد (A-Z)
        </li>
        <li class="reset-modal__rules__item" id="rule-lowercase">
          <i class="fa fa-circle"></i>
          على الأقل حرف صغير واحد (a-z)
        </li>
        <li class="reset-modal__rules__item" id="rule-number">
          <i class="fa fa-circle"></i>
          على الأقل رقم واحد (9-0)
        </li>
        <li class="reset-modal__rules__item" id="rule-special">
          <i class="fa fa-circle"></i> تحتوي على رمز خاص مثل !@#$%
        </li>
      </ul>
    </div>
    <div class="reset-modal__actions">
      <div id="reset-error-msg" class="reset-modal__error-msg">{{error}}</div>
      <button type="submit" class="reset-modal__button" id="reset-btn">
        إعادة تعيين كلمة المرور
      </button>
      <a href="#" class="reset-modal__cancel">إلغاء</a>
    </div>
  </form>
  <script src="/static/js/Reset_password.js"></script>
</body>

</html>