<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>رابط غير صالح</title>
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/reset_password_link_expired.css" />
</head>

<body>
  <div class="left-section">
    <img src="/static/images/expired.jpg">
  </div>
  <div class="right-section">
    <h1>انتهت صلاحية الرابط</h1>
    <p>عذراً، يبدو أن رابط إعادة تعيين كلمة المرور الذي حاولت الوصول إليه غير صالح أو انتهت صلاحيته.</p>
    <p>يرجى طلب رابط جديد من خلال صفحة تسجيل الدخول.</p>
    <a href="/" class="btn">العودة للصفحة الرئيسية</a>
  </div>
</body>

</html>