<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>المستخدم غير موجود</title>
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/User_not_founded.css" />
</head>

<body>
  <div class="left-section">
    <img src="/static/images/page-not-found.svg" alt="رابط غير صالح">
  </div>
  <form class="right-section" action="/resend_new_otp" method="POST">
    <h1>المستخدم غير موجود</h1>
    <p class="message">عذراً، لم نتمكن من العثور على مستخدم بهذا الاسم أو البريد الإلكتروني.<br>يرجى التأكد من صحة
      البيانات والمحاولة مرة أخرى.</p>
    <a href="/" class="btn">العودة للصفحة الرئيسية</a>
  </form>
</body>

</html>
